<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bottomBar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{767,74}</string>
                <key>spriteSourceSize</key>
                <string>{767,74}</string>
                <key>textureRect</key>
                <string>{{1,1},{767,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bullet1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,26}</string>
                <key>spriteSourceSize</key>
                <string>{24,26}</string>
                <key>textureRect</key>
                <string>{{1140,142},{24,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bullet2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,29}</string>
                <key>spriteSourceSize</key>
                <string>{25,29}</string>
                <key>textureRect</key>
                <string>{{374,225},{25,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bullet3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,31}</string>
                <key>spriteSourceSize</key>
                <string>{27,31}</string>
                <key>textureRect</key>
                <string>{{374,192},{27,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bullet4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,33}</string>
                <key>spriteSourceSize</key>
                <string>{29,33}</string>
                <key>textureRect</key>
                <string>{{1109,147},{29,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bullet5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,34}</string>
                <key>spriteSourceSize</key>
                <string>{30,34}</string>
                <key>textureRect</key>
                <string>{{1077,147},{30,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bullet6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,35}</string>
                <key>spriteSourceSize</key>
                <string>{31,35}</string>
                <key>textureRect</key>
                <string>{{1000,151},{31,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bullet7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,38}</string>
                <key>spriteSourceSize</key>
                <string>{32,38}</string>
                <key>textureRect</key>
                <string>{{1037,149},{32,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bullet8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,44}</string>
                <key>spriteSourceSize</key>
                <string>{30,44}</string>
                <key>textureRect</key>
                <string>{{259,208},{30,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cannonMinus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,31}</string>
                <key>spriteSourceSize</key>
                <string>{44,31}</string>
                <key>textureRect</key>
                <string>{{160,208},{44,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cannonMinusDown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,31}</string>
                <key>spriteSourceSize</key>
                <string>{44,31}</string>
                <key>textureRect</key>
                <string>{{193,208},{44,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cannonPlus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,31}</string>
                <key>spriteSourceSize</key>
                <string>{44,31}</string>
                <key>textureRect</key>
                <string>{{226,208},{44,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cannonPlusDown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,31}</string>
                <key>spriteSourceSize</key>
                <string>{44,31}</string>
                <key>textureRect</key>
                <string>{{954,151},{44,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>net_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,88}</string>
                <key>spriteSourceSize</key>
                <string>{90,88}</string>
                <key>textureRect</key>
                <string>{{404,77},{90,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>net_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,129}</string>
                <key>spriteSourceSize</key>
                <string>{129,129}</string>
                <key>textureRect</key>
                <string>{{160,77},{129,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>net_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,164}</string>
                <key>spriteSourceSize</key>
                <string>{157,164}</string>
                <key>textureRect</key>
                <string>{{1,77},{157,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>net_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,183}</string>
                <key>spriteSourceSize</key>
                <string>{182,183}</string>
                <key>textureRect</key>
                <string>{{770,1},{182,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>textures_81.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,111}</string>
                <key>spriteSourceSize</key>
                <string>{113,111}</string>
                <key>textureRect</key>
                <string>{{291,77},{113,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>weapon_level_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,71}</string>
                <key>spriteSourceSize</key>
                <string>{56,71}</string>
                <key>textureRect</key>
                <string>{{1070,1},{56,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weapon_level_1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,72}</string>
                <key>spriteSourceSize</key>
                <string>{56,72}</string>
                <key>textureRect</key>
                <string>{{1012,1},{56,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weapon_level_1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,72}</string>
                <key>spriteSourceSize</key>
                <string>{56,72}</string>
                <key>textureRect</key>
                <string>{{1012,75},{56,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weapon_level_2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,72}</string>
                <key>spriteSourceSize</key>
                <string>{56,72}</string>
                <key>textureRect</key>
                <string>{{1059,183},{56,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weapon_level_2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,71}</string>
                <key>spriteSourceSize</key>
                <string>{56,71}</string>
                <key>textureRect</key>
                <string>{{1070,74},{56,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weapon_level_2_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,69}</string>
                <key>spriteSourceSize</key>
                <string>{56,69}</string>
                <key>textureRect</key>
                <string>{{1128,1},{56,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weapon_level_2_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,71}</string>
                <key>spriteSourceSize</key>
                <string>{56,71}</string>
                <key>textureRect</key>
                <string>{{1117,182},{56,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weapon_level_2_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,72}</string>
                <key>spriteSourceSize</key>
                <string>{56,72}</string>
                <key>textureRect</key>
                <string>{{1059,183},{56,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weapon_level_3_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,73}</string>
                <key>spriteSourceSize</key>
                <string>{56,73}</string>
                <key>textureRect</key>
                <string>{{954,1},{56,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weapon_level_3_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,73}</string>
                <key>spriteSourceSize</key>
                <string>{56,73}</string>
                <key>textureRect</key>
                <string>{{954,76},{56,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weapon_level_3_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,68}</string>
                <key>spriteSourceSize</key>
                <string>{56,68}</string>
                <key>textureRect</key>
                <string>{{1128,72},{56,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weapon_level_3_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,73}</string>
                <key>spriteSourceSize</key>
                <string>{56,73}</string>
                <key>textureRect</key>
                <string>{{984,184},{56,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>weapon_level_3_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,74}</string>
                <key>spriteSourceSize</key>
                <string>{56,74}</string>
                <key>textureRect</key>
                <string>{{908,186},{56,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>weapon_level_4_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,80}</string>
                <key>spriteSourceSize</key>
                <string>{59,80}</string>
                <key>textureRect</key>
                <string>{{631,157},{59,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weapon_level_4_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,79}</string>
                <key>spriteSourceSize</key>
                <string>{59,79}</string>
                <key>textureRect</key>
                <string>{{692,159},{59,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weapon_level_4_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,76}</string>
                <key>spriteSourceSize</key>
                <string>{59,76}</string>
                <key>textureRect</key>
                <string>{{830,186},{59,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>weapon_level_4_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,79}</string>
                <key>spriteSourceSize</key>
                <string>{59,79}</string>
                <key>textureRect</key>
                <string>{{692,159},{59,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weapon_level_4_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,80}</string>
                <key>spriteSourceSize</key>
                <string>{59,80}</string>
                <key>textureRect</key>
                <string>{{631,157},{59,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weapon_level_5_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,81}</string>
                <key>spriteSourceSize</key>
                <string>{61,81}</string>
                <key>textureRect</key>
                <string>{{291,192},{61,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>weapon_level_5_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,80}</string>
                <key>spriteSourceSize</key>
                <string>{61,80}</string>
                <key>textureRect</key>
                <string>{{696,77},{61,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weapon_level_5_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,75}</string>
                <key>spriteSourceSize</key>
                <string>{61,75}</string>
                <key>textureRect</key>
                <string>{{753,186},{61,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>weapon_level_5_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,80}</string>
                <key>spriteSourceSize</key>
                <string>{61,80}</string>
                <key>textureRect</key>
                <string>{{696,77},{61,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weapon_level_5_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,81}</string>
                <key>spriteSourceSize</key>
                <string>{61,81}</string>
                <key>textureRect</key>
                <string>{{291,192},{61,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>weapon_level_6_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,86}</string>
                <key>spriteSourceSize</key>
                <string>{65,86}</string>
                <key>textureRect</key>
                <string>{{563,77},{65,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weapon_level_6_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,86}</string>
                <key>spriteSourceSize</key>
                <string>{64,86}</string>
                <key>textureRect</key>
                <string>{{565,165},{64,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weapon_level_6_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,78}</string>
                <key>spriteSourceSize</key>
                <string>{64,78}</string>
                <key>textureRect</key>
                <string>{{630,77},{64,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weapon_level_6_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,86}</string>
                <key>spriteSourceSize</key>
                <string>{64,86}</string>
                <key>textureRect</key>
                <string>{{565,165},{64,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weapon_level_6_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,86}</string>
                <key>spriteSourceSize</key>
                <string>{65,86}</string>
                <key>textureRect</key>
                <string>{{563,77},{65,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weapon_level_7_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,90}</string>
                <key>spriteSourceSize</key>
                <string>{67,90}</string>
                <key>textureRect</key>
                <string>{{404,169},{67,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>weapon_level_7_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,89}</string>
                <key>spriteSourceSize</key>
                <string>{67,89}</string>
                <key>textureRect</key>
                <string>{{494,77},{67,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weapon_level_7_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,84}</string>
                <key>spriteSourceSize</key>
                <string>{67,84}</string>
                <key>textureRect</key>
                <string>{{496,168},{67,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weapon_level_7_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,89}</string>
                <key>spriteSourceSize</key>
                <string>{67,89}</string>
                <key>textureRect</key>
                <string>{{494,77},{67,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weapon_level_7_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,90}</string>
                <key>spriteSourceSize</key>
                <string>{67,90}</string>
                <key>textureRect</key>
                <string>{{404,169},{67,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>texture.png</string>
            <key>size</key>
            <string>{1185,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8ab29d801c6022f3e4416dfa85ec6da6:e536acc65429349973e594200171fe56:ef86396999e18097aad14daa6638d5f9$</string>
            <key>textureFileName</key>
            <string>texture.png</string>
        </dict>
    </dict>
</plist>
