<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1335,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1335,52}}</string>
                <key>sourceSize</key>
                <string>{1335,52}</string>
            </dict>
            <key>account_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,362},{107,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,42}}</string>
                <key>sourceSize</key>
                <string>{107,42}</string>
            </dict>
            <key>btn_login_fgpw.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,712},{129,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,36}}</string>
                <key>sourceSize</key>
                <string>{129,36}</string>
            </dict>
            <key>choose_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,334},{31,26}}</string>
                <key>offset</key>
                <string>{-65,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{31,26}}</string>
                <key>sourceSize</key>
                <string>{161,34}</string>
            </dict>
            <key>guangxiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,56},{276,259}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,259}}</string>
                <key>sourceSize</key>
                <string>{276,259}</string>
            </dict>
            <key>liuxing.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,56},{380,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,11}}</string>
                <key>sourceSize</key>
                <string>{380,11}</string>
            </dict>
            <key>logon_button_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,746},{247,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,78}}</string>
                <key>sourceSize</key>
                <string>{247,78}</string>
            </dict>
            <key>logon_button_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1174,306},{247,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,78}}</string>
                <key>sourceSize</key>
                <string>{247,78}</string>
            </dict>
            <key>logon_button_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{15,56},{304,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,94}}</string>
                <key>sourceSize</key>
                <string>{304,94}</string>
            </dict>
            <key>no.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,810},{1,1}}</string>
                <key>offset</key>
                <string>{-10,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{21,13}</string>
            </dict>
            <key>password_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,334},{105,42}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{105,42}}</string>
                <key>sourceSize</key>
                <string>{107,42}</string>
            </dict>
            <key>regist_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,334},{129,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{129,34}}</string>
                <key>sourceSize</key>
                <string>{129,36}</string>
            </dict>
            <key>rem_password_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,378},{161,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,34}}</string>
                <key>sourceSize</key>
                <string>{161,34}</string>
            </dict>
            <key>text_field_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,758},{273,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,49}}</string>
                <key>sourceSize</key>
                <string>{273,49}</string>
            </dict>
            <key>third_part_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,436},{274,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,110}}</string>
                <key>sourceSize</key>
                <string>{274,110}</string>
            </dict>
            <key>third_part_qq.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,362},{37,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,43}}</string>
                <key>sourceSize</key>
                <string>{37,43}</string>
            </dict>
            <key>third_part_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,407},{204,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,27}}</string>
                <key>sourceSize</key>
                <string>{204,27}</string>
            </dict>
            <key>third_part_wechat.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,758},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>third_part_weibo.png</key>
            <dict>
                <key>frame</key>
                <string>{{15,362},{47,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,39}}</string>
                <key>sourceSize</key>
                <string>{47,39}</string>
            </dict>
            <key>thrid_part_wx_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1192,56},{247,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,78}}</string>
                <key>sourceSize</key>
                <string>{247,78}</string>
            </dict>
            <key>thrid_part_wx_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1254,305},{247,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,78}}</string>
                <key>sourceSize</key>
                <string>{247,78}</string>
            </dict>
            <key>visitor_button_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1070,638},{247,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,78}}</string>
                <key>sourceSize</key>
                <string>{247,78}</string>
            </dict>
            <key>visitor_button_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1070,718},{247,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,78}}</string>
                <key>sourceSize</key>
                <string>{247,78}</string>
            </dict>
            <key>visitor_button_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,438},{318,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{318,74}}</string>
                <key>sourceSize</key>
                <string>{318,74}</string>
            </dict>
            <key>wxdl0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,436},{248,80}}</string>
                <key>offset</key>
                <string>{-54,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,88},{248,80}}</string>
                <key>sourceSize</key>
                <string>{602,276}</string>
            </dict>
            <key>wxdl0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,56},{248,80}}</string>
                <key>offset</key>
                <string>{-54,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,88},{248,80}}</string>
                <key>sourceSize</key>
                <string>{602,276}</string>
            </dict>
            <key>wxdl0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,414},{248,80}}</string>
                <key>offset</key>
                <string>{-54,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,88},{248,80}}</string>
                <key>sourceSize</key>
                <string>{602,276}</string>
            </dict>
            <key>wxdl0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,664},{248,80}}</string>
                <key>offset</key>
                <string>{-54,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,88},{248,80}}</string>
                <key>sourceSize</key>
                <string>{602,276}</string>
            </dict>
            <key>wxdl0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,414},{248,80}}</string>
                <key>offset</key>
                <string>{-54,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,88},{248,80}}</string>
                <key>sourceSize</key>
                <string>{602,276}</string>
            </dict>
            <key>wxdl0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,370},{248,80}}</string>
                <key>offset</key>
                <string>{-54,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,88},{248,80}}</string>
                <key>sourceSize</key>
                <string>{602,276}</string>
            </dict>
            <key>wxdl0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,56},{248,80}}</string>
                <key>offset</key>
                <string>{-54,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,88},{248,80}}</string>
                <key>sourceSize</key>
                <string>{602,276}</string>
            </dict>
            <key>wxdl0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,306},{248,80}}</string>
                <key>offset</key>
                <string>{-54,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,88},{248,80}}</string>
                <key>sourceSize</key>
                <string>{602,276}</string>
            </dict>
            <key>wxdl0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,56},{248,80}}</string>
                <key>offset</key>
                <string>{-54,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,88},{248,80}}</string>
                <key>sourceSize</key>
                <string>{602,276}</string>
            </dict>
            <key>wxdl0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,556},{248,80}}</string>
                <key>offset</key>
                <string>{-54,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,88},{248,80}}</string>
                <key>sourceSize</key>
                <string>{602,276}</string>
            </dict>
            <key>ykdl0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,306},{248,80}}</string>
                <key>offset</key>
                <string>{-54,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,88},{248,80}}</string>
                <key>sourceSize</key>
                <string>{602,276}</string>
            </dict>
            <key>ykdl0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,56},{248,80}}</string>
                <key>offset</key>
                <string>{-54,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,88},{248,80}}</string>
                <key>sourceSize</key>
                <string>{602,276}</string>
            </dict>
            <key>ykdl0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,556},{248,80}}</string>
                <key>offset</key>
                <string>{-54,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,88},{248,80}}</string>
                <key>sourceSize</key>
                <string>{602,276}</string>
            </dict>
            <key>ykdl0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,306},{248,80}}</string>
                <key>offset</key>
                <string>{-54,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,88},{248,80}}</string>
                <key>sourceSize</key>
                <string>{602,276}</string>
            </dict>
            <key>ykdl0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,56},{248,80}}</string>
                <key>offset</key>
                <string>{-54,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,88},{248,80}}</string>
                <key>sourceSize</key>
                <string>{602,276}</string>
            </dict>
            <key>ykdl0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,556},{248,80}}</string>
                <key>offset</key>
                <string>{-54,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,88},{248,80}}</string>
                <key>sourceSize</key>
                <string>{602,276}</string>
            </dict>
            <key>ykdl0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,306},{248,80}}</string>
                <key>offset</key>
                <string>{-54,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,88},{248,80}}</string>
                <key>sourceSize</key>
                <string>{602,276}</string>
            </dict>
            <key>ykdl0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,56},{248,80}}</string>
                <key>offset</key>
                <string>{-54,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,88},{248,80}}</string>
                <key>sourceSize</key>
                <string>{602,276}</string>
            </dict>
            <key>ykdl0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,556},{248,80}}</string>
                <key>offset</key>
                <string>{-54,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,88},{248,80}}</string>
                <key>sourceSize</key>
                <string>{602,276}</string>
            </dict>
            <key>ykdl0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,306},{248,80}}</string>
                <key>offset</key>
                <string>{-54,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,88},{248,80}}</string>
                <key>sourceSize</key>
                <string>{602,276}</string>
            </dict>
            <key>zhdl0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,56},{248,80}}</string>
                <key>offset</key>
                <string>{-54,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,88},{248,80}}</string>
                <key>sourceSize</key>
                <string>{602,276}</string>
            </dict>
            <key>zhdl0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,556},{248,80}}</string>
                <key>offset</key>
                <string>{-54,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,88},{248,80}}</string>
                <key>sourceSize</key>
                <string>{602,276}</string>
            </dict>
            <key>zhdl0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,306},{248,80}}</string>
                <key>offset</key>
                <string>{-54,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,88},{248,80}}</string>
                <key>sourceSize</key>
                <string>{602,276}</string>
            </dict>
            <key>zhdl0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,56},{248,80}}</string>
                <key>offset</key>
                <string>{-54,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,88},{248,80}}</string>
                <key>sourceSize</key>
                <string>{602,276}</string>
            </dict>
            <key>zhdl0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,556},{248,80}}</string>
                <key>offset</key>
                <string>{-54,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,88},{248,80}}</string>
                <key>sourceSize</key>
                <string>{602,276}</string>
            </dict>
            <key>zhdl0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,306},{248,80}}</string>
                <key>offset</key>
                <string>{-54,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,88},{248,80}}</string>
                <key>sourceSize</key>
                <string>{602,276}</string>
            </dict>
            <key>zhdl0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,56},{248,80}}</string>
                <key>offset</key>
                <string>{-54,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,88},{248,80}}</string>
                <key>sourceSize</key>
                <string>{602,276}</string>
            </dict>
            <key>zhdl0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1070,556},{248,80}}</string>
                <key>offset</key>
                <string>{-54,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,88},{248,80}}</string>
                <key>sourceSize</key>
                <string>{602,276}</string>
            </dict>
            <key>zhdl0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1092,306},{248,80}}</string>
                <key>offset</key>
                <string>{-54,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,88},{248,80}}</string>
                <key>sourceSize</key>
                <string>{602,276}</string>
            </dict>
            <key>zhdl0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1110,56},{248,80}}</string>
                <key>offset</key>
                <string>{-54,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,88},{248,80}}</string>
                <key>sourceSize</key>
                <string>{602,276}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>login.png</string>
            <key>size</key>
            <string>{1339,826}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ecd4420a6a7b18a37abcdbdaad9d0d21:e9c7a89352213389950c8940fe2d4458:70c8faf287b801f42cfa7c57415c1cdf$</string>
            <key>textureFileName</key>
            <string>login.png</string>
        </dict>
    </dict>
</plist>
